{% extends "master_temp.html" %} {%block title%} Portfolio {%endblock%} {%block link%}
<link rel="stylesheet" href="{{url_for('static',filename='/assets/cs/nicepage.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static',filename='/assets/cs/PORTFOLIO.css')}}" media="screen"> {%endblock%} {%block body%}

<section class="u-align-center u-black u-clearfix u-section-1" id="sec-adf2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-oswald u-text u-text-1">&nbsp;some of my work</h3>
        <div class="pointer-event u-carousel u-gallery u-layout-thumbnails u-lightbox u-no-transition u-show-text-always u-gallery-1" id="carousel-e131" data-interval="5000" data-u-ride="carousel">
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
                <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                    <div class="u-back-slide" data-image-width="1600" data-image-height="1238">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/51712567_935047186694924_8850302454445637632_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-1">
                        <h3 class="u-gallery-heading">Sample Title</h3>
                        <p class="u-gallery-text">Sample Text</p>
                    </div>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-2" data-image-width="1600" data-image-height="1087">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/BlueFlower2.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-2">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-3" data-image-width="1600" data-image-height="1600">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/97203451_1278567799009526_1387301782664773632_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-3">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-4" data-image-width="1600" data-image-height="1049">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/81471169_1165873006945673_6162788044056297472_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-4">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-5" data-image-width="1600" data-image-height="1600">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/90718184_1238882186311421_7727473238766256128_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-5">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-6" data-image-width="1600" data-image-height="800">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/71381593_1080613368804971_432402064522346496_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-6">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-7" data-image-width="1600" data-image-height="1413">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/70453735_1070571756475799_526405562758332416_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-7">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-8" data-image-width="1164" data-image-height="1600">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/68751629_1054200801446228_4637730798894579712_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-8">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-9" data-image-width="1564" data-image-height="1600">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/83759082_1193292450870395_2563872657103650816_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-9">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-10" data-image-width="1265" data-image-height="1600">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/117304015_1349828705216768_490601390788639139_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-10">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-11" data-image-width="2048" data-image-height="1236">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/83259288_1189534017912905_539637708457246720_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-11">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-12" data-image-width="1262" data-image-height="1975">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/70694792_1080751388791169_7167971856320823296_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-12">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-13" data-image-width="1590" data-image-height="1674">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/81894952_1176325619233745_8972826549866725376_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-13">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-14" data-image-width="2048" data-image-height="1122">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/65908611_1026958000837175_2475904687430172672_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-14">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-15" data-image-width="2048" data-image-height="1296">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/49521092_917924348407208_8431377348758077440_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-15">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-16" data-image-width="1428" data-image-height="1870">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded u-image-contain" src="{{url_for('static',filename='/assets/images/32116746_763632383836406_1664647543457316864_n.jpg')}}">
                    </div>
                    <div class="u-over-slide u-over-slide-16">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                    <style data-mode="XL" data-visited="true"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM" data-visited="true"></style>
                    <style data-mode="XS" data-visited="true"></style>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-e131" role="button" data-u-slide="prev">
                <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-e131" role="button" data-u-slide="next">
                <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            </a>
            <ol class="u-carousel-thumbnails u-spacing-10 u-carousel-thumbnails-1">
                <li class="u-active u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="0">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/51712567_935047186694924_8850302454445637632_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="1">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/BlueFlower2.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="2">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/97203451_1278567799009526_1387301782664773632_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="3">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/81471169_1165873006945673_6162788044056297472_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="4">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/90718184_1238882186311421_7727473238766256128_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="5">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/71381593_1080613368804971_432402064522346496_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="6">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/70453735_1070571756475799_526405562758332416_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="7">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/68751629_1054200801446228_4637730798894579712_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="8">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/83759082_1193292450870395_2563872657103650816_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="9">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/117304015_1349828705216768_490601390788639139_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="10">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/83259288_1189534017912905_539637708457246720_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="11">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/70694792_1080751388791169_7167971856320823296_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="12">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/81894952_1176325619233745_8972826549866725376_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="13">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/65908611_1026958000837175_2475904687430172672_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="14">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/49521092_917924348407208_8431377348758077440_n.jpg')}}">
                </li>
                <li class="u-carousel-thumbnail u-carousel-thumbnail-1" data-u-target="#carousel-e131" data-u-slide-to="15">
                    <img class="u-carousel-thumbnail-image u-image" src="{{url_for('static',filename='/assets/images/32116746_763632383836406_1664647543457316864_n.jpg')}}">
                </li>
            </ol>
        </div>
    </div>
</section>
<style class="u-overlap-style">
    .u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }
</style>

<section class="u-align-left u-clearfix u-section-2" id="carousel_677e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-1">Make your Order</h2>
                <h5 class="u-align-center u-text u-text-2"> All services has same price 30 dollars & One order at one time <br>for more information contact us links are below</h5>
                <div class="u-form u-form-1">
                    <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                        <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-1">
                            <label for="name-f2a8" class="u-label u-text-grey-40">Name</label>
                            <input type="text" placeholder="Enter your Name" id="name-f2a8" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-email u-form-group u-form-partition-factor-2 u-form-group-2">
                            <label for="email-f2a8" class="u-label u-text-grey-40">E-mail</label>
                            <input type="email" placeholder="Enter a valid email address" id="email-f2a8" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-3">
                            <label for="phone-447e" class="u-label u-text-grey-40">Phone</label>
                            <input type="tel" pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone +92.." id="phone-447e" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                required="">
                        </div>
                        <div class="u-form-date u-form-group u-form-partition-factor-2 u-form-group-4">
                            <label for="date-4441" class="u-label u-text-grey-40">Date</label>
                            <input type="date" placeholder="MM/DD/YYYY" id="date-4441" name="date" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                        </div>
                        <div class="u-form-group u-form-select u-form-group-5">
                            <label for="select-c6c5" class="u-label u-text-grey-40">Service</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-c6c5" name="Service" class="form control u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                     
                    {% for row in Service%}
                       <option value="  {{row.sname}}">{{row.sname}}   </option> {%endfor%}

                        </select>


                            </div>
                        </div>
                        <div class="u-form-group u-form-message u-form-group-6">
                            <label for="message-f2a8" class="u-label u-text-grey-40">Details</label>
                            <textarea placeholder="Enter your order details" rows="4" cols="50" id="message-f2a8" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-group-7">
                            <label for="text-e38a" class="u-label u-text-grey-40"> Height in Inches</label>
                            <input type="text" placeholder="20 inch" id="text-e38a" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-group-8">
                            <label for="text-ae4e" class="u-label u-text-grey-40">Width in inches</label>
                            <input type="text" placeholder="20 inch" id="text-ae4e" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                        </div>
                        <div class="u-align-center u-form-group u-form-submit u-form-group-9">
                            <a href="#" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Submit</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success">Thank you! Your Order has been Placed !</div>
                        <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                        <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<style class="u-overlap-style">
    .u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #ffffff !important
    }
</style>


{%endblock%}